# App Environment (local, dev, prod)
EXPO_PUBLIC_APP_ENV=local

# API
EXPO_PUBLIC_API_URL=https://api.rowie.io
EXPO_PUBLIC_WS_URL=wss://api.rowie.io
EXPO_PUBLIC_WEBSITE_URL=https://rowie.io
EXPO_PUBLIC_VENDOR_DASHBOARD_URL=https://portal.rowie.io

# Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx

